*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}html,body{
    height: 100%;
    width: 100%;
}.main{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(155, 185, 230);
}.nav{
    height: 10%;
    width: 100%;display: flex;
    gap: 15%;
    padding-left: 5%;
    align-items: center;
   


}ul{
    width: 50%;
    list-style-type: none;
    display: flex;
    gap: 10%;
}button{
    width: 10%;
    border-radius: 15px;
    background-color: rgb(34, 70, 70);
    color: aliceblue;
}.page{
    height: 100%;
    width: 100%;
 
}.left{
    width: 50%;
    padding-left: 13%;
    padding-top: 5%;
}.left>h1{
    font-size: 50px;
}.left>p{
    font-size: 30px;
}.left>button{
    font-size: 20px;
    width: 40%;
    height: 30%;
   margin-top: 3%;


}.right{
    width: 50%;
   transform: translate(100%,-90%);
}img{
    width: 95%;
    height: 80%;
    border-radius: 20px;
}